.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* position: sticky; */
  top: 0;
  z-index: 100;
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
}

.nav-button {
  background-color: #3b4cca; /* Pokemon blue */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #2a3a99;
}
