<div class="poke-dex-container">
    <div class="search-container">
        <input type="text" placeholder="Enter Pokémon name" id="searchInput">
        <button id="whosThatPokemonBtn" class="add-to-pokedex-btn">Who's That Pokemon!?</button>
    </div>
    {{#if isLoggedIn}}
        <button id="addToPokedexBtn" class="add-to-pokedex-btn">Add card to Pokedex!</button>
    {{/if}}
    <div id="pokemonContainer"></div>
</div>