<div class="poke-dex-container">
    <input type="text" placeholder="Enter Pokemon name" id="searchInput">
    <button onclick="handleSearch()">Who's That Pokemon!?</button>
    <div id="pokemonContainer"></div>
</div>
