<div class="profile-container">
    <div class="profile-content">
        <h1>{{username}}'s Pokedex</h1>
        
        {{#if isAdmin}}
            {{#unless viewingOwnPokedex}}
                <a href="/user-pokedex" class="nav-button" style="margin-bottom: 1rem;">Back to My Pokedex</a>
            {{/unless}}
        {{/if}}
        
        {{#if pokemonCards.length}}
            <div class="pokedex-row">
                {{#each pokemonCards}}
                    <div class="pokedex-card">
                        <img src="{{this.images.small}}" alt="{{this.name}}" />
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p class="empty-pokedex">This Pokedex is empty.</p>
        {{/if}}
    </div>
</div>