<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="#" id="findPokemonBtn" class="nav-button">Find Pokemon</a>
        </div>
        <div class="navbar-right">
            <a href="#" id="loginBtn" class="nav-button">Login</a>
        </div>
    </nav>
    
    <div id="content">
        {{{body}}}
    </div>
    
    <script src="/js/app.js"></script>
    <script src="/js/navbar.js"></script>
</body>
</html>
